page {
	background-color: #f8f8f8;
}

.top {
	background-color: #FFFFFF;
	
}

.top>.title {
	color: #434343;
	font-size: 32rpx;
	padding: 0 32rpx;
	font-weight: bold;
	height: 80rpx;
	line-height: 80rpx;
}

.top .left {
	color: #666666;
	font-size: 24rpx;
}

.top .speed {
	height: 54rpx;
	line-height: 54rpx;
	padding-left: 32rpx;
}

.top .right {
	height: 54rpx;
	background-color: #e0f8e9;
	padding: 0 32rpx;
	border-top-left-radius: 30rpx;
	border-bottom-left-radius: 30rpx;
	color: #46d17e;
	font-size: 30rpx;
}

.top .right>text {
	color: #999999;
	font-size: 20rpx;
	margin-right: 10rpx;
}

.top .right .persent {
	display: inline-block;
	width: 100rpx;
	height: 8rpx;
	border-radius: 4rpx;
	background-color: #FFFFFF;
	vertical-align: middle;
	position: relative;
}

.top .right .persent text {
	position: absolute;
	height: 8rpx;
	border-radius: 4rpx;
	background-color: #46d17e;
	top: 0;
	left: 0;
}

.content>.title {
	padding: 10rpx 32rpx;
	color: #434343;
	font-size: 28rpx;
	background-color: #FFFFFF;
}

.content .option {
	padding: 0 32rpx;
}

.content .option .row {
	margin-top: 40rpx;
	padding: 0 30rpx;
	font-size: 32rpx;
	color: #111111;
	background-color: #ffffff;
	border-radius: 8rpx;
	line-height: 92rpx;
}

.content .option .row text {
	margin: 0 25rpx;
	color: #cfe8d9;
}
.content .option .correct{
	color:#46d17e;
	background:#e0f8e9 url('https://www.51dgf.cn:9001/images/correct.png') no-repeat right 32rpx center;
	background-size: 35rpx 35rpx;
}

.content .option .active{
	color:#46d17e;
	background-color:#e0f8e9;
	background-size: 35rpx 35rpx;
}

.content .option .error{
	background:#e0f8e9 url('https://www.51dgf.cn:9001/images/error.png') no-repeat right 32rpx center;
	background-size: 35rpx 35rpx;
	color:#ff4040;
}
.analysis{
	margin-top: 33rpx;
	padding: 0 32rpx;
	padding-bottom: 140rpx;
}
.analysis .title{
	height: 80rpx;
	line-height: 80rpx;
	color:#111111;
	font-size: 36rpx;
	font-weight: bold;
}

.analysis .text{
	line-height: 64rpx;
	color:#46d17e;
	font-size: 30rpx;
	font-weight: bold;
}

.analysis .content{
	line-height: 58rpx;
	font-size: 32rpx;
	color: #666666;
}

.analysis .content text{
	font-size: 40rpx;
	font-weight: bold;
	color:#46d17e;
	margin-left: 10rpx;
}

.nav{
	height: 140rpx;
	line-height: 140rpx;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #FFFFFF;
	display: flex;
	align-items:center;
	justify-content:space-around;
}

.nav view{
	width: 330rpx;
	height: 86rpx;
	line-height: 86rpx;
	text-align: center;
	border-radius: 43rpx;
	font-size: 32rpx;
	color:#46d17e;
}

.nav .back{
	border: 1rpx solid #ffd08a;
}

.nav .next{
	border: 1rpx solid #42da7f;
	background-color: #42da7f;
	color:#FFFFFF;
}






